//Horizontal layout on mobile phones and smaller
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
    }

    .about {
        grid-template-areas:
            "birdbrain-1"
            "the-technology"
            "why-birdbrain"
            "birdbrain-2"
            "birdbrain-3"
            "our-dream-team-member"
            "contact-us"
            "birdbrain-4";
        grid-template-columns: 1fr;
    }

    img {
        width: 80%;
    }
}


//Tablets medium o large size
@include mediaLg {
    main {
        align-items: center;
        text-align: center;
    }

    .about {
        grid-template-areas:
            "birdbrain-1"
            "the-technology"
            "why-birdbrain"
            "birdbrain-2"
            "birdbrain-3"
            "our-dream-team-member"
            "contact-us"
            "birdbrain-4";

        grid-template-columns: 1fr;
    }
}

@media all and (max-width:30em) {
    .menu-btn {
        display: block;
        margin: 0.4em auto;
    }
}