//Horizontal layout on mobile phones and smaller
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
    }

    /*Change template grid to one column for mobile*/
    .about {
        grid-template-areas:
            "birdbrain-1"
            "the-technology"
            "why-birdbrain"
            "birdbrain-2"
            "birdbrain-3"
            "our-dream-team-member"
            "contact-us"
            "birdbrain-4";
        grid-template-columns: 1fr;
    }

    img {
        width: 80%;
    }
}


//Tablets medium to large size
@include mediaLg {
    main {
        align-items: center;
        text-align: center;
    }

    /*Change template grid to one column for tablet*/
    .about {
        grid-template-areas:
            "birdbrain-1"
            "the-technology"
            "why-birdbrain"
            "birdbrain-2"
            "birdbrain-3"
            "our-dream-team-member"
            "contact-us"
            "birdbrain-4";

        grid-template-columns: 1fr;
    }
}