@import "config";
@import "menu";

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

//-----------Headings---------------
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

a {
    color: $tertiary-color;
    text-decoration: none;
}


//----------Main banner imagery and styles----------
.hero {
    background: $quaternary-color;
    background-image: url(../img/birdbrain.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
    padding: 2em;

    h1 {
        padding: 1em;
        text-align: center;
    }
}

main {
    padding: 4rem;


    .powerful-intro {
        background: none;
        padding: 1.5rem;
        border-bottom: $secondary-color solid 2px;

        h2 {
            color: $chromatic1-color;
            font-weight: 600;
        }

        p {
            color: $chromatic1-color
        }
    }
}

//-------Styling for the CSS grid , template---------------
.about {
    display: grid;
    grid-template-areas: "birdbrain-1 the-technology""why-birdbrain birdbrain-2""birdbrain-3 our-dream-team-member""contact-us birdbrain-4";
    grid-template-columns: repeat(2, 1fr);

    .the-technology {
        grid-area: the-technology;
        font-size: 1.15rem;
    }

    .birdbrain-1 {
        grid-area: birdbrain-1;
    }

    .why-birdbrain {
        grid-area: why-birdbrain;
        font-size: 1.15rem;
    }

    .birdbrain-2 {
        grid-area: birdbrain-2;
    }

    .our-dream-team-member {
        grid-area: our-dream-team-member;
        font-size: 1.15rem;
    }

    .birdbrain-3 {
        grid-area: birdbrain-3;
    }

    .contact-us {
        grid-area: contact-us;
        font-size: 1.15rem;
    }

    .birdbrain-4 {
        grid-area: birdbrain-4;
    }

    /*Styleing for grid template areas*/
    .about-bird {
        background: none;
        padding: 1.5rem;
        border-bottom: #62b4fd solid 2px;
    }
}


//-----------Footer styles-----------------
footer {
    background: $quaternary-color;
    padding: 0.5em;

    .footer-icons {
        margin-top: 1rem;
        float: right;
    }

    a {
        padding: 0.4rem;
        color: $secondary-color;

        &:hover {
            color: $chromatic1-color;
            @include ease-out();
        }
    }
}


/*Settings for mobile and tablet*/
@import "mobile";